html {
  height: 100%;
}
body {
  min-height: 100%;
  background-color: black;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 100px;
  margin-left: 30px;
}

#bullets {
  z-index: -1;
}
#projectile {
  z-index: -1;
}
#ship {
  z-index: 0;
}
#background {
  z-index: -2;
}
#stats {
  z-index: -1;
}
#game-over{
  z-index: 1;
}
#how-to-play{
  z-index: -3;
}
#opening-screen {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
